Meteorology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	$Id: Meteorology.xsd 7880 2013-03-31 20:52:28Z $
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:meteo="http://www.iaea.org/2012/IRIX/Format/Meteorology"
	xmlns:base="http://www.iaea.org/2012/IRIX/Format/Base"
	xmlns:loc="http://www.iaea.org/2012/IRIX/Format/Locations" 
	xmlns:html="http://www.w3.org/1999/xhtml"
	targetNamespace="http://www.iaea.org/2012/IRIX/Format/Meteorology" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Base" schemaLocation="Base.xsd" />
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Locations" schemaLocation="Locations.xsd" />

	<xsd:element name="Meteorology" type="meteo:MeteorologyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A report section containing records with meteorological information (e.g.
				wind and precipitation) describing either measured/observed, projected or forecasted 
				weather at specific locations and periods of time. The block can be used to
				provide meteorological information from monitoring posts
				or modelling results for discrete locations. Information on large scale forecasts and
				measurements are not meant to be provided in this block, but can be provided as 
				file annexes to the report. 
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="MeteorologyType">
		<xsd:complexContent>
			<xsd:extension base="base:InformationBlock">
				<xsd:sequence>
					<xsd:element name="MeteoRecord" type="meteo:MeteoRecordType"
						minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								Contains meteorological information and parameters describing the weather at a specified location
								during a specified period of time, either actual or forecasted.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="MeteoRecordType">
		<xsd:sequence>
			<xsd:element name="Type" type="meteo:MeteoInfoType" 
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Indicates whether the meteorological information represents 
						measured/observed, projected or forecasted weather. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="loc:Location">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						<html:p>
							Location for which weather is described.
						</html:p>
						<html:p class="note">
							For the structure of this element, see Locations section.
						</html:p>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValidForPeriod" type="meteo:ValidForPeriodType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The period of time for which weather is described.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WeatherCode" type="meteo:WeatherCodeType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Weather code (WMO Code 4561).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Temperature" type="meteo:TemperatureType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Temperature (Kelvin).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DewPointTemperature" type="meteo:TemperatureType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Dew point temperature (Kelvin).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WindSpeed" type="meteo:WindSpeedType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Wind speed (m/s).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WindDirection" type="meteo:WindDirectionType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Wind direction (degrees from North). The direction the wind is blowing
						<html:em>from</html:em>.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Pressure" type="meteo:PressureType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en"> 
						Atmospheric pressure, measured, not normalised 
						to sea level (hPa).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelativeHumidity" type="base:PercentageType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Relative humidity (%).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CloudCover" type="meteo:CloudCoverType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Cloud cover (oktas).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SolarRadiation" type="meteo:SolarRadiationType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Solar radiation intensity (W/m2).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PasquillStabilityClass" type="meteo:PasquillStabilityClassType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Pasquill stability class (A-G).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element name="InversionLayerHeight" type="base:LengthType">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Inversion layer height (m).
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="InversionHeightRange" type="meteo:InversionHeightRangeType">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Inversion layer height range.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="Precipitation" type="meteo:PrecipitationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains information on precipitation.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WeatherDescription" type="base:FreeTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Free text description of actual/forecasted weather. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PrecipitationType">
		<xsd:sequence>
			<xsd:element name="Occurrence" type="base:YesNoUnknownType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Flag for precipitation / no precipitation.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:element name="Form" type="meteo:PrecipitationFormType">
					<xsd:annotation>
						<xsd:documentation>
							Form of precipitation (e.g. rain, snow, ...).
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FormDescription"	type="xsd:token">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Form of precipitation. (free text)
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>						
			</xsd:choice>
			<xsd:element name="Amount" type="meteo:PrecipitationAmountType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Amount of precipitation fallen during the indicated period (mm).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Intensity" type="meteo:PrecipitationIntensityType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Amount of precipitation per hour (mm/h).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SnowInformation" type="meteo:SnowInformationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains information on snow.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SnowInformationType">
		<xsd:sequence>
			<xsd:element name="Amount" type="meteo:SnowAmountType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Amount of fallen snow during the indicated period, given as water equivalent (mm).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ValidForPeriodType">
		<xsd:sequence>
			<xsd:element name="StartTime" type="base:DateTimeType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Start time of period.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="base:DateTimeType" 
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						End time of period.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SolarRadiationType">
		<xsd:simpleContent>
			<xsd:extension base="base:PositiveDecimal">
				<xsd:attribute name="Unit" type="xsd:token" fixed="W/m2"
					use="required" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="TemperatureType">
		<xsd:simpleContent>
			<xsd:extension base="base:nonNegativeDecimal">
				<xsd:attribute name="Unit" type="xsd:token" use="required"
					fixed="Kelvin" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="SnowAmountType">
		<xsd:simpleContent>
			<xsd:extension base="base:nonNegativeDecimal">
				<xsd:attribute name="Unit" type="xsd:token" use="required"
					fixed="mm" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="PressureType">
		<xsd:simpleContent>
			<xsd:extension base="base:PositiveDecimal">
				<xsd:attribute name="Unit" type="xsd:token" use="required"
					fixed="hPa" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="WindSpeedType">
		<xsd:simpleContent>
			<xsd:extension base="base:nonNegativeDecimal">
				<xsd:attribute name="Unit" type="xsd:token" use="required"
					fixed="m/s" />
				<xsd:attribute name="Fluctuation" type="base:PositiveDecimal"
					use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Fluctuation in wind speed (m/s).
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="WindDirectionType">
		<xsd:simpleContent>
			<xsd:extension base="base:AngleType">
				<xsd:attribute name="Fluctuation" type="base:AngleValueType"
					use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Fluctuation in wind direction (degrees).
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="PrecipitationAmountType">
		<xsd:simpleContent>
			<xsd:extension base="base:nonNegativeDecimal">
				<xsd:attribute name="Unit" type="xsd:token" use="required"
					fixed="mm" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="PrecipitationIntensityType">
		<xsd:simpleContent>
			<xsd:extension base="base:nonNegativeDecimal">
				<xsd:attribute name="Unit" type="xsd:token" use="required"
					fixed="mm/h" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="InversionHeightRangeType">
		<xsd:sequence>
			<xsd:element name="LowerBoundary" type="base:LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Lower boundary of inversion layer height (m).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UpperBoundary" type="base:LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Upper boundary of inversion layer height (m).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="PasquillStabilityClassType">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[A-G]" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CloudCoverType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:maxInclusive value="8" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="MeteoInfoType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Observation"/>
			<xsd:enumeration value="Projection"/>
			<xsd:enumeration value="Projection - Forecast"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="WeatherCodeType">
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:maxInclusive value="9"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PrecipitationFormType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Rain"/>
			<xsd:enumeration value="Light Rain"/>
			<xsd:enumeration value="Heavy Rain"/>
			<xsd:enumeration value="Snow"/>
			<xsd:enumeration value="Rain and Snow Mixed"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
