irix-schema/IRIX.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	$Id: IRIX.xsd 7876 2013-03-31 07:46:12Z $ 
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:irix="http://www.iaea.org/2012/IRIX/Format" xmlns:id="http://www.iaea.org/2012/IRIX/Format/Identification" xmlns:event="http://www.iaea.org/2012/IRIX/Format/EventInformation" xmlns:release="http://www.iaea.org/2012/IRIX/Format/ReleaseInformation" xmlns:meteo="http://www.iaea.org/2012/IRIX/Format/Meteorology" xmlns:cons="http://www.iaea.org/2012/IRIX/Format/ConsequenceInformation" xmlns:resp="http://www.iaea.org/2012/IRIX/Format/ResponseActions" xmlns:meas="http://www.iaea.org/2012/IRIX/Format/Measurements" xmlns:medical="http://www.iaea.org/2012/IRIX/Format/MedicalInformation" xmlns:media="http://www.iaea.org/2012/IRIX/Format/MediaInformation" xmlns:loc="http://www.iaea.org/2012/IRIX/Format/Locations" xmlns:req="http://www.iaea.org/2012/IRIX/Format/Requests" xmlns:annex="http://www.iaea.org/2012/IRIX/Format/Annexes" xmlns:html="http://www.w3.org/1999/xhtml" version="1.0" targetNamespace="http://www.iaea.org/2012/IRIX/Format" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Identification" schemaLocation="ReportIdentification.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/EventInformation" schemaLocation="EventInformation.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/ReleaseInformation" schemaLocation="ReleaseInformation.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Meteorology" schemaLocation="Meteorology.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/ConsequenceInformation" schemaLocation="ConsequenceInformation.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/ResponseActions" schemaLocation="ResponseActions.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Measurements" schemaLocation="Measurements.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/MedicalInformation" schemaLocation="MedicalInformation.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/MediaInformation" schemaLocation="MediaInformation.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Locations" schemaLocation="Locations.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Requests" schemaLocation="Requests.xsd"/>
	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Annexes" schemaLocation="Annexes.xsd"/>

	<xsd:element name="Report" type="irix:ReportType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				<html:p>
					The root element of an IRIX report.
				</html:p>
				<html:p>	
					An IRIX report consists of an envelope structure with an identification section (with information about the report)
					and zero or more content sections. 
				</html:p>
				<html:p>	
					An IRIX report may contain content sections with the following types of content:
					<html:ul>
						<html:li>Event information</html:li>
						<html:li>Radioactive release information</html:li>
						<html:li>Meteorological information</html:li>
						<html:li>Event consequences information</html:li>
						<html:li>Protective actions information</html:li>
						<html:li>Measurement data</html:li>
						<html:li>Medical information</html:li>
						<html:li>Media information</html:li>
						<html:li>Geographical locations of interest ("place marks")</html:li>
						<html:li>Requests and responses</html:li>
						<html:li>Annexes (e.g. attached files)</html:li>
					</html:ul>
				</html:p>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="ReportType">
		<xsd:sequence>
			<xsd:element ref="id:Identification"/>
			<xsd:element ref="event:EventInformation" minOccurs="0"/>				
			<xsd:element ref="release:Release" minOccurs="0"/>
			<xsd:element ref="meteo:Meteorology" minOccurs="0"/>
			<xsd:element ref="cons:Consequences" minOccurs="0"/>
			<xsd:element ref="resp:ResponseActions" minOccurs="0"/>
			<xsd:element ref="meas:Measurements" minOccurs="0"/>
			<xsd:element ref="medical:MedicalInformation" minOccurs="0"/>
			<xsd:element ref="media:MediaInformation" minOccurs="0"/>
			<xsd:element ref="loc:Locations" minOccurs="0"/>
			<xsd:element ref="req:Requests" minOccurs="0"/>
			<xsd:element ref="annex:Annexes" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:token" fixed="1.0" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					Version number of the IRIX data format used. Fixed value: "1.0".
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>