irix-schema/MedicalInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $Id: MedicalInformation.xsd 7876 2013-03-31 07:46:12Z $
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:medical="http://www.iaea.org/2012/IRIX/Format/MedicalInformation" 
	xmlns:base="http://www.iaea.org/2012/IRIX/Format/Base"  
	xmlns:html="http://www.w3.org/1999/xhtml" 
	targetNamespace="http://www.iaea.org/2012/IRIX/Format/MedicalInformation" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.iaea.org/2012/IRIX/Format/Base" schemaLocation="Base.xsd"/>

	<xsd:element name="MedicalInformation" type="medical:MedicalInformationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A report section with structured information on persons who have been examined
				for radiological health effects. The block allows to provide information on a 
				per-person basis, including health effects diagnosed, health consequences prognosed
				and dose assessments made for each subject.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="MedicalInformationType">
		<xsd:complexContent>
			<xsd:extension base="base:InformationBlock">
				<xsd:sequence>
					<xsd:element name="PersonsDiagnosed" type="medical:PersonsDiagnosedType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								Contains a list with information on the medical assessments of examined persons.
                            </xsd:documentation>
						</xsd:annotation>
						<xsd:unique name="UniquePersonDiagnosed">
							<xsd:selector xpath="medical:PersonDiagnosed"/>
							<xsd:field xpath="medical:Identity/medical:Code"/>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PersonsDiagnosedType">
		<xsd:sequence>
			<xsd:element name="PersonDiagnosed" type="medical:PersonDiagnosedType" 
				minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains information on the medical assessment of one examined person. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PersonDiagnosedType">
		<xsd:sequence>
			<xsd:element name="Identity" type="medical:IdentityType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains information on the identity of the examined person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HealthEffectsDiagnosed" type="medical:HealthEffectsDiagnosedType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains a list of health effects diagnosed on the examined person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HealthConsequencesPrognosed" type="medical:HealthConsequencesPrognosedType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains a list of health consequences prognosed on the examined person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DoseAssessments" type="medical:DoseAssessmentType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains information on dose assessments performed on the examined person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="base:FreeTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Additional free text information relating to the medical assessment of the examined person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="IdentityType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:token">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Code used to identify/refer to the examined person. 
						(The code need not reveal the person's actual identity.)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="xsd:token" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The person's name (optional).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="base:FreeTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Additional free text information relating to the identity of the examined person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HealthEffectsDiagnosedType">
		<xsd:sequence>
			<xsd:element name="HealthEffectDiagnosed" type="medical:HealthEffectDiagnosedType" 
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains information on the diagnosis of a particular health effect.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HealthEffectDiagnosedType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="TypeOfHealthEffect" type="medical:TypeOfHealthEffectType">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Type of health effect diagnosed.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TypeOfHealthEffectDescription" type="base:ShortStringType">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Type of health effect diagnosed. (free text)
						</xsd:documentation>
					</xsd:annotation>				
				</xsd:element>
			</xsd:choice>
			<xsd:element name="DiagnosticResult" type="medical:DiagnosticResultType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Diagnostic result (Negative, Possible etc).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="base:FreeTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Additional free text information relating to the diagnosis of this type of health effect.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HealthConsequencesPrognosedType">
		<xsd:sequence>
			<xsd:element name="HealthConsequencePrognosed" type="medical:HealthConsequencePrognosedType" 
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains information on the prognosis of a particular health consequence.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HealthConsequencePrognosedType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="TypeOfHealthConsequence" type="medical:TypeOfHealthConsequenceType">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Type of health consequence.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TypeOfHealthConsequenceDescription" type="base:ShortStringType">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Type of health consequence. (free text)
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="PrognosedOccurrence" type="medical:PrognosedOccurrenceType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Indicates whether the type of health consequence is prognosed to occur.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="base:FreeTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Additional free text information relating to the prognosis of this type of health consequence.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DoseAssessmentType">
		<xsd:sequence>
			<xsd:element name="AssessedDose" type="medical:AssessedDoseType" 
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Contains information on the assessment of a particular type of dose (whole body, specific organ or tissue)
						performed on the examined person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="base:FreeTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Additional free text information relating to the dose assessments performed on the person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AssessedDoseType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="TypeOfDose" type="medical:TypeOfDoseType">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							The type of dose assessed (e.g. whole body, or dose to a specific
							organ or tissue).
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TypeOfDoseDescription" type="base:ShortStringType">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							The type of dose assessed. (free text)
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="DoseValue" type="medical:DoseValueType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The assessed dose (Sv or Gy).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DoseAssessmentMethod" type="base:ShortStringType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Free text description of the dose assessment method used.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="base:FreeTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Additional free text information relating to the assessment of this type of dose.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DoseValueType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:float">
				<xsd:attribute name="Constraint" type="medical:ConstraintType"
					use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">
							Attribute for indicating whether the actual value is less than (LT)
							or greater than (GT) the reported value.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="Unit" type="medical:DoseUnitType" use="required">
					<xsd:annotation>
						<xsd:documentation>
							Unit (Sv or Gy).
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:simpleType name="TypeOfHealthEffectType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Acute Radiation Syndrome"/>
			<xsd:enumeration value="Bone Marrow Depression"/>
			<xsd:enumeration value="Cataract"/>
			<xsd:enumeration value="Erythema"/>
			<xsd:enumeration value="Necrosis"/>
			<xsd:enumeration value="Pneumonitis"/>
			<xsd:enumeration value="Ulceration"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="DiagnosticResultType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Negative"/>
			<xsd:enumeration value="Possible"/>
			<xsd:enumeration value="Probable"/>
			<xsd:enumeration value="Definite"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TypeOfHealthConsequenceType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Amputation"/>
			<xsd:enumeration value="Contracture"/>
			<xsd:enumeration value="Fatality"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="PrognosedOccurrenceType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Negative"/>
			<xsd:enumeration value="Possible"/>
			<xsd:enumeration value="Probable"/>
			<xsd:enumeration value="Definite"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TypeOfDoseType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Whole Body"/>
			<xsd:enumeration value="Head/Neck"/>
			<xsd:enumeration value="Eye/Lens"/>
			<xsd:enumeration value="Thyroid"/>
			<xsd:enumeration value="Skin"/>
			<xsd:enumeration value="Breast/Chest"/>
			<xsd:enumeration value="Bone Marrow"/>
			<xsd:enumeration value="Colon"/>
			<xsd:enumeration value="Gonads"/>
			<xsd:enumeration value="Lung"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ConstraintType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="GT" />
			<xsd:enumeration value="LT" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="DoseUnitType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Sv"/>
			<xsd:enumeration value="Gy"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
